@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --cinza-bg: #333333;
  --cinza-font: #cfcfcf;
  --cinza-input: #f3f3f3cf;
}

body {
  background-color: var(--cinza-bg);
  color: var(--cinza-font);
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.table{
    border-collapse: collapse;
    margin: 0 auto;
}
.table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.table th,
.table td {
    padding: 12px 15px;
}
.table tbody tr {
  border-bottom: 1px solid #dddddd;
}
